@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&family=Roboto+Slab:wght@300&family=Roboto:ital@1&family=Source+Code+Pro:ital,wght@0,300;0,400;1,300&family=Yanone+Kaffeesatz:wght@200&display=swap');
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}